<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--The time between each process info refresh in seconds.-->
		<add key="RefreshInterval" value="3"/>
		<!--Select true for visible and false for invisible for the information columns:
		    ID, Name, Note, CPU, Memory, Started, Thread-->
		<add key="IDVisibility" value="true"/>
		<add key="NameVisibility" value="true"/>
		<add key="NoteVisibility" value="true"/>
		<add key="CPUVisibility" value="true"/>
		<add key="MemoryVisibility" value="true"/>
		<add key="StartedVisibility" value="true"/>
		<add key="ThreadVisibility" value="true"/>
    <!--Change the default search engine used for the web view. 
    Currently supports: bing, google, duckduckgo, aolsearch, yahoosearch and custom, it defaults to bing if none 
    of this options is specified
    -->
    <add key="DefaultSearchEngine" value="bing"/>
    <!--Custom search engine strings can be used as long as they provide an explicit query param for the search word 
    that should be added last.
    Ex: for yandex 
    <add key="CustomSearchEngine" value="https://yandex.com/search/?text=windows%20process%20"/>-->
    <add key="CustomSearchEngine" value=""/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>